// Ivanka Mauludi Juniar
// TI-2D

html, body {
	margin: 0;
	padding: ;
}
p{
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.75em;
	font-size: 12px;
}

body {
	font-family: Times New Roman, Helvatica, sans-serif;
	background-color: orange;
	line-height: 1.65;
	padding-bottom: 1000px;
}

.contrainer-satu {
	width: 1300px;
	margin: 50px auto;
	background-color: yellow;
	padding: 30px;
	box-sizing: border-box;
	display: flex;
	grid-template-columns: 1fr 0fr;
}

.sidebar-satu {
	width: 1000px;
}

.kolom-utama {
	padding: 50px;
	
}

.sidebar-dua{
	width: 1000px;
}